<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark-fb fixed-top">
  <div class="container">
      <img src="./../assets/images/800000412.png" style="height: 50px;width: 50px;">
    <a class="navbar-brand" href="#">Services</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/dashboard">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row pad-5">
        <div class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-3 pad-5 dashboard-icon" 
          routerLink="/fruitbasket">
            <img class="fit-img" src="./../assets/images/fruitsvegbg2.png"/>
            <h5>Fruit Basket</h5>
          </div>
          <div class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-3 pad-5 dashboard-icon">
              <img class="fit-img" src="./../assets/images/800000412.png"/>
          </div>
          <div class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-3 pad-5 dashboard-icon">
              <img class="fit-img" src="./../assets/images/800000412.png"/>
          </div>
          <div class="col-6 col-xs-6 col-sm-4 col-md-3 col-lg-3 pad-5 dashboard-icon">
              <img class="fit-img" src="./../assets/images/fruitsvegbg.png"/>
          </div>
    </div>
</div>